{% if not related is empty %}
    <h2>{{ relation_name|strip_rdf_prefix|camel_to_title|snake_to_title }}</h2>
    <ul class="reference-list">
        {% for item in related %}
            <li class="ontology-relation">
                <div class="ontology-relation-name">{{ item.prefLabel }}</div>
                <a title="{{ item.prefLabel }}" href="{{ urlFor("ontology-resource", {"name": item.uri|strip_namespace}) }}">
                    {{ item.uri }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}