{% extends "main.html.twig" %}

{% block title %}{{ document.getUri }}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {% if document %}
            <h1>Document: {{ document.getName }}</h1>
            <dl class="dl-horizontal">
                <dt>Plain Text</dt>
                <dd id='raw_text' style="max-height: 300px; overflow-y: scroll">
                    <pre>
                        {{  document.getPlainText }}
                    </pre>
                </dd>
                <dt>Source</dt>
                <dd>{{ document.getSource }}</dd>
                <dt>Last Modified</dt>
                <dd>{{ document.getLastModified }}</dd>
            </dl>
            <h2>Mentions</h2>
            <ul>
                {% for resource in document.getLinkedResources %}
                    <li><a href="index.php?function=describe&resource={{ resource.getUrlIdent|url_encode }}&format=.html">{{  resource.getName }}</a></li>
                {% endfor %}
            </ul>
            {% else %}

            {% endif %}
        </div>
    </div>
</div>
{% endblock %}