<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>CENDARI {% block title %}{% endblock %}</title>
        <link href="{{ baseUrl() }}/stylesheets/styles.css" rel="stylesheet">

        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet'
              type='text/css'>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock %}
</head>
<body>
<div id="page-wrap">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="logo">
                        <a href="{{ baseUrl() }}"></a>
                    </div>
                </div>
                <div class="col-md-8">
                    {% block search %}{% endblock %}
                </div>
            </div>
        </div>
    </header>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {{ path }}
                    <li {% if path() == urlFor("resources")
                        or currentUrl() starts with baseUrl() ~ "/resources/" %}class="active"{% endif %}><a href="{{ urlFor("resources") }}">{% trans "Resources" %}</a></li>
                    <li {% if path() == urlFor("ontologies")
                        or currentUrl() starts with baseUrl() ~ "/ontology/" %}class="active"{% endif %}><a href="{{ urlFor("ontologies") }}">{% trans "WW1 Ontologies" %}</a></li>
                    <li {% if path() == urlFor("medieval") %}class="active"{% endif %}><a href="{{ urlFor("medieval") }}">{% trans "Medieval Resources" %}</a></li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </nav>

    <section class="content">
        {% block content %}{% endblock %}
    </section>
</div>
<footer>
    {% block footer %}
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <p>{% trans "The CENDARI project is funded by the European Commission under the 7th Framework Programme" %}</p>
                </div>
                <div class="col-md-3">
                    <img src="{{ baseUrl() }}/images/funding.jpg" alt="European Commission" class="pull-right">
                </div>
            </div>
        </div>
    {% endblock %}
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ baseUrl() }}/javascripts/bootstrap.min.js"></script>
</body>
</html>
