{% extends "main.html.twig" %}

{% block title %} - {% trans "Medieval Resources" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <form action="{{ currentUrl() }}" method="get" class="form-inline">
                    <h1>{% trans "Medieval Resources" %}</h1>
                    <!-- {% include "_search_form.html.twig" %} -->

                    <ul class="resource-list">
                        {% for item in resources %}
                            <li>
                                {{ item.nome_opera }} <a class="title" target="_blank" href="http://lodlive-mirabile.netseven.it/?{{ item.mss }}"><small>[visualise]</small></a>
                                <ul class="details">
                                    <li>{% trans "Author" %}: <a href="{{ urlFor("medieval") }}?author={{ item.nome_autore|url_encode }}">{{ item.nome_autore }}</a> </li>
                                    <li>{% trans "Shelfmark Info" %}: {{ item.mss_segnatura }}</li>
                                    <li>{% trans "Date" %}: {{ item.data_mss }}</li>
                                </ul>

                            </li>
                        {% else %}
                            <li>{% trans "No results found" %}</li>
                        {% endfor %}
                    </ul>
                    {% include "_pagination.html.twig" with {items: resources, extra: {author: author_facet, organisation: organisation_facet,
                            author_order: author_order_facet, organisation_order: organisation_order_facet}} %}
                </form>
            </div>
            <div class="col-md-3">
                {% include "_facet_set.html.twig" with {facets: organisation_orders, facet_class: "Organisation's religious order", facet_key: "organisation_order", 
                facet_param: organisation_order_facet, "extra": {"organisation": organisation_facet, "author_order": author_order_facet, "author": author_facet}} %}
                
                {% include "_facet_set.html.twig" with {facets: organisations, facet_class: "Organisations", facet_key: "organisation",
                facet_param: organisation_facet, "extra": {"organisation_order": organisation_order_facet, "author_order": author_order_facet, "author": author_facet}} %}
                
                {% include "_facet_set.html.twig" with {facets: author_orders, facet_class: "Author's religious order", facet_key: "author_order",
                facet_param: author_order_facet, "extra": {"organisation": organisation_facet, "organisation_order": organisation_order_facet, "author": author_facet}} %}
            
                {% include "_facet_set.html.twig" with {facets: authors, facet_class: "Prolific Authors", facet_key: "author",
                facet_param: author_facet, "extra": {"organisation": organisation_facet, "organisation_order": organisation_order_facet, "author_order": author_order_facet}} %}
            </div>
        </div>
    </div>
{% endblock %}
