{% extends "main.html.twig" %}

{% block title %} - {% trans "Ontology Browser" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <form action="{{ currentUrl() }}" method="get" class="form-inline">
                        <h1>{% trans "Ontology Browser" %}</h1>

                        <div class="col-md-9">
                            {% include "_search_form.html.twig" %}
                            <ul class="resource-list">
                                {% for item in resources %}
                                    <li>
                                        <div class="resource">
                                            <strong>
                                                <a href="{{ urlFor("ontology-resource", {"name": item.uri|strip_namespace}) }}">{{ item.prefLabel }}</a>
                                            </strong>
                                            <span class="type">{{ item.type|strip_rdf_prefix }}</span>
                                            <div class="note">
                                                {{ item.note }}
                                            </div>
                                        </div>
                                    </li>
                                {% else %}
                                    <li>{% trans "No results found" %}</li>
                                {% endfor %}
                            </ul>
                            {% include "_pagination.html.twig" with {"items": resources, "extra": {"type": type_facet}} %}
                        </div>
                        <div class="col-md-3">
                            {% include "_facet_set.html.twig" with {"facets": types, "facet_class": "Resource Type", "facet_param": type_facet} %}
                            {% include "_facet_set.html.twig" with {"facets": ontologies} %}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}