{% extends "main.html.twig" %}

{% block title %} - {{ prefLabel }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>{{ prefLabel }}</h1>
                <dl class="dl-horizontal">
                    <dt>{% trans "type" %}</dt>
                    <dd>{{ type|strip_rdf_prefix }}</dd>
                    {% if note %}
                        <dt>{% trans "note" %}</dt>
                        <dd>{{ note }}</dd>
                    {% endif %}
                </dl>

                {% for name, set in relations %}
                    {% include "_ontology_related.html.twig" with {relation_name: name, related: set} %}
                {% endfor %}

                {% if not mentions is empty %}
                    <h2>{% trans "Referencing resources" %}</h2>
                    {% include "_resource_list.html.twig" with {resources: mentions} %}
                    {% include "_pagination.html.twig" with {items: mentions} %}
                {% endif %}

                {% if not resources is empty %}
                    <h2>{% trans "Potentially associated resources" %}</h2>
                    {% include "_resource_list.html.twig" with {resources: resources} %}
                {% endif %}


                {% if not ontology_resources is empty %}
                    <h2>{% trans "Potentially associated ontology items" %}</h2>
                    {% include "_ontology_resource_list.html.twig" with {resources: ontology_resources} %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if context %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans "Context" %}</div>
                        <div class="panel-body ontology-resource-context">
                            <div class="ontology-resource-context-name">
                                <a href="{{ urlFor("ontologies") }}?ontology={{ context.uri }}">{{ context.name }}</a>
                            </div>
                            <div class="ontology-resource-context-description">
                                {{ context.description }}
                                {% if context.references %}
                                    <hr/>
                                    <a class="references" href="{{ context.references }}">{{ context.references }}</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if context.rights %}
                            <div class="panel-footer">
                                <div class="ontology-resource-context-rights">
                                    {{ context.rights }}

                                    {% if context.rightsRef %}
                                        [<a href="{{ context.rightsRef }}">Link</a>]
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}