{% extends "main.html.twig" %}

{% block title %} - {% trans "Resources" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ currentUrl() }}" method="get" class="form-inline" accept-charset="UTF-8">
                    <h1>{% trans "Resources" %}</h1>
                    {% include "_search_form.html.twig" %}

                    <ul class="resource-list">
                        {% for item in resources %}
                            <li>
                                <a class="title" href="{{ urlFor("resource", {"id": item.id}) }}">{{ item.title }}</a>
                                <ul class="details">
                                    {% if item.numMentions %}
                                        <li>{% trans "Mentions" %}: {{ item.numMentions }}</li>
                                    {% endif %}
                                    {% if item.lastModified %}
                                        <li>{% trans "Last modified" %}: {{ item.lastModified|pretty_date }}</li>
                                    {% endif %}
                                </ul>

                            </li>
                        {% else %}
                            <li>{% trans "No results found" %}</li>
                        {% endfor %}
                    </ul>
                    {% include "_pagination.html.twig" with {'items': resources} %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}